.App-header {
  background-color: rgb(0, 54, 94);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: 5%;
}

.component {
  padding-bottom: 2%;
}

.component h2 {
  color: rgb(9, 155, 191);
}

.component form {
  margin: 20px 100px 0;
}

label {
  font-size: x-large;
}
